<frontend-header></frontend-header>

<h1>User Panel</h1>
<p>layout-frontend works!</p>

<ul>
    <li>
        <a routerLink="/user/dashboard">user-dashboard</a>
    </li>
    <li>
        <a routerLink="/user/article-list">user-article-list</a>
    </li>
    <li>
        <a routerLink="/user/article-master">user-article-master</a>
    </li>
    <li>
        <a routerLink="/admin/dashboard">Go to admin panel</a>
    </li>
</ul>


<router-outlet></router-outlet>
<frontend-footer></frontend-footer>